body {
  font-family: 'Josefin Sans', sans-serif;
  color: black; }

section {
  background: #639199; }
  section .container {
    padding: 50px; }

.list_skill {
  color: #639199;
  font-family: "Inknut Antiqua", serif;
  background: #D3D4A0;
  text-align: center;
  font-size: 3rem; }
  .list_skill ul {
    list-style-type: none;
    line-height: 1.6; }

ul {
  padding-inline-start: 0; }

@media only screen and (max-width: 768px) {
  .list_skill {
    font-size: 1.3rem;
    padding: 5px !important; }
  figcaption:not(.cap_avatar), img:not(.avatar) {
    margin-left: 5%; }
  .title {
    font-size: 2rem !important; }
  .text {
    font-size: 1rem !important; }
  .ctr {
    padding-bottom: 0px !important; } }

.button {
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 20px;
  background: #A5B89D;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 1.2rem; }

.button:hover {
  background: black;
  color: white;
  text-decoration: none; }

.text {
  font-family: "IBM Plex Mono", monospace;
  padding: 10px;
  font-size: 1.2rem;
  padding-left: 3px; }

.title {
  font-family: "Sriracha", cursive;
  font-size: 3rem; }

#project, #hobby {
  padding-top: 22px;
  color: #fff; }
  #project .title, #hobby .title {
    color: #D3D4A0; }

#country {
  padding-top: 20px;
  background: #D3D4A0; }
  #country .title {
    color: #639199; }
  #country figcaption {
    color: #639199; }

img {
  width: 90%; }

figcaption {
  font-size: 12px;
  margin-top: 10px;
  color: #D3D4A0;
  font-family: "IBM Plex Mono", monospace; }

.navbar-light .navbar-brand {
  color: #D3D4A0; }

.navbar-light .navbar-nav .nav-link {
  color: #D3D4A0; }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #D3D4A0; }

.ls_skill {
  transition: 0.4s;
  opacity: 0; }

.ls_skill.myAnimation {
  animation: myAnimation 1s ease forwards; }

@keyframes myAnimation {
  from {
    transform: translatey(300px);
    opacity: 0; }
  to {
    transform: translatey(0px);
    opacity: 1; } }

h1 {
  font-size: 6rem;
  font-family: "Inknut Antiqua", serif;
  color: #D3D4A0; }

.text-infor {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  padding-top: 50px;
  list-style-type: none;
  padding-left: 3px;
  color: #fff; }

.logo {
  font-family: "Sriracha", cursive; }

header {
  margin-top: 72px;
  background: #639199;
  padding-bottom: 50px; }

@media only screen and (max-width: 768px) {
  header {
    margin-top: 56px;
    text-align: center; }
    header h1 {
      font-size: 5rem; }
  .button-infor {
    margin-bottom: 30px; } }

.image img {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2); }

#navbar {
  background: #639199; }

#icon2 {
  display: none; }

.hidden_icon1 {
  display: none; }

.block_icon2 {
  display: block !important; }

.navbar-light .navbar-toggler {
  border: none; }

footer {
  background: #fff; }

.list_icon {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin: auto; }
  .list_icon li {
    padding: 10px;
    float: left; }
  .list_icon i {
    color: black; }

footer h2 {
  font-family: "Inknut Antiqua", serif;
  color: #639199;
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0px; }

@media only screen and (max-width: 768px) {
  footer h2 {
    font-size: 1.3rem;
    padding: 20px 0px; }
  footer p {
    padding: 10px !important; } }

footer p {
  color: #fff;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 0px;
  background: black; }

.clear {
  clear: left; }

.icon:hover {
  color: #639199 !important; }
