body {
  font-family: 'Josefin Sans', sans-serif;
  background: #9BBBC8;
  color: black; }

section {
  margin: 20px 0px;
  background: #FBD94B; }
  section .container {
    padding: 50px; }

.list_skill {
  font-family: "Inknut Antiqua", serif;
  background: #9BBBC8;
  color: #998239;
  text-align: center;
  font-size: 3rem; }
  .list_skill ul {
    list-style-type: none;
    line-height: 1.6; }

ul {
  padding-inline-start: 0; }

@media only screen and (max-width: 768px) {
  .list_skill {
    font-size: 1.3rem;
    padding: 5px !important; }
  figcaption:not(.cap_avatar), img:not(.avatar) {
    margin-left: 5%; }
  .title {
    font-size: 2rem !important; }
  .text {
    font-size: 1rem !important; }
  .ctr {
    padding-bottom: 0px !important; } }

.button {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 20px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 1.2rem; }

.button:hover {
  background: black;
  color: white;
  text-decoration: none; }

.text {
  font-family: "IBM Plex Mono", monospace;
  padding: 10px;
  font-size: 1.2rem;
  padding-left: 3px; }

.title {
  font-family: "Sriracha", cursive;
  font-size: 3rem; }

#project, #hobby {
  padding-top: 22px; }

#country {
  padding-top: 20px;
  background: #9BBBC8; }

img {
  width: 90%; }

figcaption {
  font-size: 12px;
  margin-top: 10px; }

h1 {
  font-size: 6rem;
  font-family: "Sriracha", cursive; }

.text-infor {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  padding-top: 50px;
  list-style-type: none;
  padding-left: 3px; }

.logo {
  font-family: "Sriracha", cursive; }

header {
  margin-top: 72px;
  background: #FBD94B;
  padding-bottom: 50px; }

@media only screen and (max-width: 768px) {
  header {
    margin-top: 56px;
    text-align: center; }
  .button-infor {
    margin-bottom: 30px; } }

.image img {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2); }

#navbar {
  background: #FBD94B; }

.list_icon {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin: auto; }
  .list_icon li {
    padding: 10px;
    float: left; }
  .list_icon i {
    color: black; }

footer h2 {
  font-family: "Inknut Antiqua", serif;
  color: #63a094;
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0px; }

@media only screen and (max-width: 768px) {
  footer h2 {
    font-size: 1.3rem;
    padding: 20px 0px; }
  footer p {
    padding: 10px !important; } }

footer p {
  color: #adb3b1;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 0px;
  font-size: 1.2rem; }

.clear {
  clear: left; }

.icon:hover {
  color: #63a094 !important; }
