.list_icon{
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	margin: auto;
	li{
		padding: 10px;
		float: left;
	}
	i{
		color: black;
	}
}

footer h2{
	font-family: $font-skill;
	color: #5B8C97;
	text-align: center;
	font-size: 2.5rem;
	padding: 50px 0px;
}

@media only screen and (max-width: 768px){
	footer h2{
		font-size: 1.3rem;
		padding: 20px 0px;
	}
	footer p{
		padding: 10px !important;
	}
}

footer p{
	color: #adb3b1;
	text-align: center;
	padding: 20px 0px;
	margin-bottom: 0px;
	font-size: 1.2rem;
}
.clear{
	clear: left;
}

.icon:hover{
	color: #5B8C97 !important;
}