body{
	font-family: 'Josefin Sans', sans-serif;
	// background: #ffff;
	background: $background_test;
	color: $background_black;
}

section{
	margin: 20px 0px;
	background: $background;
		.container{
			padding: 50px;
		}
}


//List skill
.list_skill{
	color: #5B8C97;
	font-family: $font_skill;
	background: $background_test;
	text-align: center;
	font-size: 3rem;
	ul{
		list-style-type: none;
		line-height: 1.6;
	}
}

ul{
	padding-inline-start: 0;

}

@media only screen and (max-width: 768px){
	.list_skill{
		font-size: 1.3rem;
		padding: 5px !important;
	}
	figcaption:not(.cap_avatar), img:not(.avatar){
		margin-left: 5%;
	}
	.title{
		font-size: 2rem !important;
	}
	.text{
		font-size: 1rem !important;
	}
	.ctr{
		padding-bottom: 0px !important;
	}
}


// button
.button{
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
	border-radius: 20px;
	background: #A5B89D;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 1.2rem;

 }

.button:hover{
    background: black;
    color: white;
    text-decoration: none;
}
.text{
	font-family: $font_text_infor;
	padding: 10px;
	font-size: 1.2rem;
	padding-left: 3px;
}
.title{
	font-family: $font_title;
	font-size: 3rem;
}

#project,#hobby{
	padding-top: 22px;
	color: #fff;
	.title{
	color: #D3D4A0 ;
	}
}
#country{
	padding-top: 20px;
	background: $background_test;
	// color: #A5B89D;
	.title{
		color: #639199;
	}
	figcaption{
		color: $background_black;
	}
}


//img

img{
	width: 90%;
}


figcaption{
	font-size: 14px;
	margin-top: 10px;
	color: #D3D4A0;
}


.navbar-light .navbar-brand {
    color: #D3D4A0;
}

.navbar-light .navbar-nav .nav-link {
    color: #D3D4A0;
}

.navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
   .navbar-light .navbar-nav .show>.nav-link {
    color: #D3D4A0;
}