body{
font-family: 'Josefin Sans', sans-serif;
background: #f2fcf2;
}

section{
	margin: 20px 0px;
	background: $background;
		.container{
			padding: 50px;
		}
}

.list_skill{
	font-family: $font_skill;
	background: #f2fcf2;
	text-align: center;
	font-size: 3rem;
	ul{
		list-style-type: none;
	}
}

@media only screen and (max-width: 768px){
	.list_skill{
		font-size: 1.3rem;
	}
}

.button{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 1.2rem;

 }

.button:hover{
    background: black;
    color: white;
    text-decoration: none;
}
.text{
	font-family: $font_text;
	padding: 20px;
	font-size: 1.2rem;
	padding-left: 3px;
}
.title{
	font-family: $font_title;
	font-size: 3rem;
}