// color
// $background: #b6c6c3;
// $background: #fed700;
$background:#FBD94B;
$background_black: rgba(0,0,0,1);
$background_test: #9BBBC8;


// font
$font_title: 'Sriracha', cursive;
$font_text_infor:'IBM Plex Mono', monospace;
$font_skill:'Inknut Antiqua', serif;
