// color
// $background: #b6c6c3;
// $background: #fed700;
$background_black: rgba(0,0,0,1);

$background:#639199;
$background_test: #D3D4A0;


// font
$font_title: 'Sriracha', cursive;
$font_text_infor:'IBM Plex Mono', monospace;
$font_skill:'Inknut Antiqua', serif;
